@charset "utf-8";

body {
	background: #000011;
	overflow: hidden;
}
#helloweb {
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	transform: translate(0,-140px);
}
h1 {
	color: #fff;
	font-size: 50px;
	font-size: 0;
	position: absolute;
	left: 10%;
	top: 4%;
}
h1 img {
	width: 200px;
}
form {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
form .img {
	position: relative;
	left: 50%;
	transform: translate(-50%,0);
}
form .text {
	display: block;
	margin-top: 20px;
	width: 356px;
	height: 46px;
	border-radius: 4px;
	border: 2px solid #fff;
	color: #a3a3a3;
	padding-left: 14px;
	font-size: 20px;
	box-sizing: border-box;
	background: transparent;
}
form .text:focus {
	background: rgba(255,255,255,0.2);
}
form #submit {
	display: block;
	margin-top: 20px;
	width: 356px;
	height: 52px;
	border-radius: 4px;
	background: rgba(0,255,170,0.2);
	color: #00ffaa;
	box-sizing: border-box;
	border: 2px solid #33ffbb;
	transition: all 0.6s;
}
form #submit:hover {
	background: rgba(0,255,170,1);
	color: #000;
	cursor: pointer;
}
form .other {
	margin-top: 10px;
}
form .circle {
	float: left;
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	box-sizing: border-box;
	border: 1px solid #00ffaa;
	border-radius: 50%;
	background: rgba(255,255,255,0.2);
	transform: translate(0,16%);
}
form .circle div {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	border-radius: 50%;
	background: #00ffaa;
	width: 8px;
	height: 8px;
}
form .other a {
	color: #a3a3a3;
	font-size: 18px;
	padding: 0 6px;
}
form .other a:last-child {
	float: right;
}
form .other a:hover {
	color: #fff;
	text-decoration: underline;
}