@charset "utf-8";

.header {
	width: 100%;
	background-color: #2f383d;
}

.header .public {
	height: 200px;
}

.header .mail a {
	width: 100px;
	height: 20px;
	padding-top: 8px;
	padding-left: 18px;
	background: url("../images/email.png") no-repeat 0px 14px;
	font-size: 14px;
	color: #a4a6a8;
}

.header .headervanish {
	display: inline-block;
}

.header .mail a:hover, .header .mail a:hover p {
	color: #fff;
}

.header .search {
	position: absolute;
	top: 9px;
	right: 0px;
}

.header .search .box {
	float: left;
	width: 96px;
	height: 18px;
	background: #3e494f;
	color: #fff;
	font-size: 12px;
}

.header .search .button {
	float: right;
	height: 18px;
	width: 30px;
	background: url("../images/search.png") no-repeat 8px 3px
				#3e494f;
}

.header .mainlogo {
	position: absolute;
	left: -3px;
	top: 28%;
	width: 250px;
	height: 106px;
	background: url("../images/weblogo1.png");
}

.header .navbar {
	position: absolute;
	right: 0;
	top: 48.5%;
}

.header .navpart {
	float: left;
	position: relative;
}

.header .navpart .homepage, .header .navpart li, .header .navpart span {
	display: inline-block;
	width: 106px;
	height: 30px;
	color: #b1cbda;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	padding-top: 7px;
}

.header .navpart .headerhidden {
	display: none;
	height: 30px;
	color: #b1cbda;
	font-weight: bold;
	text-align: center;
	padding-top: 7px;
}

.header .homepage:hover {
	text-decoration: underline;
}

.header .dropdown {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
}

.header .navpart span {
	background: url("../images/littletriangle.png") no-repeat 95px 22px;
}

.header .navpart li {
	display: none;
	color: #02628d;
	background: #fff;
}

.header .navpart:hover span {
	color: #02628d;
	background: #e3f6fe;
}

.header .navpart:hover li {
	display: block;
}

.header .navpart .dropdown li:hover {
	color: #fff;
	background: #0072a6;
}
























.partone {
	background: -webkit-radial-gradient(top, #fff, #fff, #73c9ed);
	background: -moz-radial-gradient(top, #fff, #fff, #73c9ed);
	background: -ms-radial-gradient(top, #fff, #fff, #73c9ed);
	background: -o-radial-gradient(top, #fff, #fff, #73c9ed);
	background: radial-gradient(top, #fff, #fff, #73c9ed);
	width: 100%;
	height: 430px;
}

.partone .leftarrows {
	position: absolute;
	left: 0;
	top: 200px;
}

.partone .middlepic {
	position: absolute;
	left: 396px;
	top: 74px;
}

.partone .rightarrows {
	position: absolute;
	right: 0;
	top: 200px;
}

.partone .potbar {
	position: absolute;
	top: 370px;
	left: 46.8%;
}

.partone .pot {
	height: 12px;
	width: 12px;
	background-color: #b2e2f7;
	border-radius: 12px;
	float: left;
	margin-right: 16px;
}

.partone .potbar .active {
	background-color: #56c6f4;
}


























.parttwo {
	width: 100%;
	height: 634px;
	background: #eff4f7;
}

.parttwo .left, .parttwo .right {
	float: left;
	width: 46.5%;
	height: 540px;
	background: #fff;
	box-shadow: 1px 1px 10px #CCCCCC;
	margin-top: 48px;
	position: relative;
}

.parttwo .left {
	margin-right: 7%;
}

.parttwo .left .vanish {
	display: inline-block;
}

.parttwo .maintitle {
	position: absolute;
	left: 20px;
	top: 16px;
	font-size: 26px;
	color: #1691c9;
}

.parttwo .maintitle:hover {
	color: #0072a6;
}

.parttwo .mainlogo {
	margin-right: 14px;
}

.parttwo .more {
	position: absolute;
	right: 22px;
	top: 28px;
	width: 56px;
	height: 24px;
	background: url("../images/more.png") no-repeat 40px 5px;
	color: #8c8c8c;
	font-weight: bold;
}

.parttwo .more:hover {
	color: #2f3877;
}

.parttwo .lineone {
	position: absolute;
	top: 62px;
	height: 2px;
	width: 40%;
	background: #0a8fc8;
}

.parttwo .linetwo {
	position: absolute;
	top: 64px;
	height: 2px;
	width: 95%;
	background: #0a8fc8;
}

.parttwo .linethree {
	position: absolute;
	top: 66px;
	height: 2px;
	width: 40%;
	background: #0a8fc8;
}

.parttwo .mainpic {
	position: absolute;
	top: 90px;
	left: 20px;
	width: 48%;
}

.parttwo .mainpic:hover img {
	border: solid 2px #0a8fc8;
}

.parttwo .secondarytitle {
	position: absolute;
	left: 56%;
	top: 90px;
	width: 40%;
	font-size: 23px;
	color: #0a8fc8;
	font-weight: bold;
}

.parttwo .secondarytitle:hover, .parttwo .secondarytitle:hover {
	color: #0072a6;
}

.parttwo .secondarytitlecontent {
	position: absolute;
	left: 56%;
	top: 160px;
	width: 40%;
	font-size: 12px;
	color: #656565;
}

.parttwo .secondarytitlecontent:hover {
	color: #0072a6;
}

.parttwo .clickrate {
	position: absolute;
	left: 56%;
	top: 252px;
	font-size: 10px;
	color: #656565;
}

.parttwo .clickrate img {
	display: inline-block;
	margin-right: 4px;
}

.parttwo .pubdateone {
	position: absolute;
	left: 83%;
	top: 252px;
	font-size: 10px;
	color: #656565;
}

.parttwo .cutoffrule {
	position: absolute;
	top: 300px;
	height: 0;
	width: 100%;
	border-top: dashed 1px #050505;
}

.parttwo .othernewsbar {
	position: absolute;
	top: 318px;
	left: 24px;
}

.parttwo .othernewsbar a:hover, .parttwo .othernewsbar a:hover p {
	color: #0072a6;
}

.parttwo .othernewsbar a {
	width: 94%;
	font-size: 16px;
	color: #000;
	text-overflow: ellipsis;
	margin-bottom: 16px;
}

.parttwo .othernewsbar p {
	display: inline-block;
	color: #656565;
	float: right;
}

.parttwo .fourpartbar {
	position: absolute;
	top: 90px;
	left: 26px;
	width: 90%;
}

.parttwo .fourpart {
	position: relative;
	width: 100%;
	background: green;
}

.parttwo .fourpart:nth-child(1) {
	position: absolute;
	top: 0;
}

.parttwo .fourpart:nth-child(2) {
	position: absolute;
	top: 111px;
}

.parttwo .fourpart:nth-child(3) {
	position: absolute;
	top: 222px;
}

.parttwo .fourpart:nth-child(4) {
	position: absolute;
	top: 333px;
}

.parttwo .firstpart {
	position: absolute;
	top: 0;
	left: 0;
	width: 20%;
	height: 22px;
	background: #6dc8ee;
	color: #015175;
	font-size: 12px;
	padding-top: 7px;
	text-align: center;
}

.parttwo .secondpart {
	position: absolute;
	top: 30px;
	left: 0px;
	width: 20%;
	height: 51px;
	background: #c5e9f8;
	font-size: 28px;
	color: #0072a6;
	text-align: center;
	padding-top: 11px;
	border-top: solid 1px #fff;
}

.parttwo .thirdpart {
	position: absolute;
	top: 0;
	left: 20%;
	width: 73%;
	height: 93px;
	border-left: solid 1px #fff;
	background: #eff4f7;
	padding-left: 35px;
}

.parttwo .thirdpart a {
	color: #7c7d7e;
	font-size: 14px;
	font-weight: bold;
}

.parttwo .thirdpart p {
	padding-top: 16px;
	padding-bottom: 10px;
	color: #0a8fc8;
	font-size: 22px;
	font-weight: bold;
}

.parttwo .fourpart i {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 93px;
	background: #0072a6;
	-webkit-transition: width 0.3s ease-in-out;
	-moz-transition: width 0.3s ease-in-out;
	-ms-transition: width 0.3s ease-in-out;
	-o-transition: width 0.3s ease-in-out;
	transition: width 0.3s ease-in-out;
}

.parttwo .fourpart:hover i {
	width: 101%;
}

.parttwo .fourpart:hover .firstpart, .parttwo .fourpart:hover .secondpart, .parttwo .fourpart:hover .thirdpart {
	background: transparent;
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	-ms-transition: background 0.3s;
	-o-transition: background 0.3s;
}

.parttwo .fourpart .firstpart, .parttwo .fourpart .secondpart, .parttwo .fourpart .thirdpart {
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	-ms-transition: background 0.3s;
	-o-transition: background 0.3s;
	transition: background 0.3s;
}

.parttwo .fourpart:hover .firstpart {
	color: #fff;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-ms-transition: color 0.3s;
	-o-transition: color 0.3s;
}

.parttwo .fourpart:hover .secondpart {
	color: #fff;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-ms-transition: color 0.3s;
	-o-transition: color 0.3s;
}

.parttwo .fourpart:hover .thirdpart p {
	color: #fff;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-ms-transition: color 0.3s;
	-o-transition: color 0.3s;
}

.parttwo .fourpart:hover .thirdpart a {
	color: #e7e7e7;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-ms-transition: color 0.3s;
	-o-transition: color 0.3s;
}

























.partthree .public {
	height: 370px;
}

.partthree .parttitle {
	padding-top: 26px;
	padding-left: 22px;
	font-size: 26px;
	color: #1691c9;
}

.partthree .parttitle:hover {
	color: #0072a6;
}

.partthree .parttitlelogo {
	margin-right: 14px;
	display: inline-block;
}

.partthree .showbar {
	width: 100%;
	margin-top: 50px;
	margin-left: 16px;
}

.partthree .show {
	width: 20%;
	float: left;
	display: inline-block;
}

.partthree .showposition {
	position: relative;
	width: 90%;
	height: 170px;
	background: #bde5f7;
	border-radius: 12px;
	-webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}

.partthree .showpic {
	position: absolute;
	left: 8px;
	top: 8px;
	width: 92%;
	height: 130px;
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-ms-filter: blur(1px);
	-o-filter: blur(1px);
	filter: blur(1px);
	border-radius: 12px 12px 12px 12px;
}

.partthree .showtext {
	position: absolute;
	top: 143px;
	left: 35%;
	color: #888;
	font-size: 15px;
	font-weight: bold;
}

.partthree .showposition:hover {
	background: #6dc8ee;
	-webkit-transition: background 0.24s ease-in-out;
    -moz-transition: background 0.24s ease-in-out;
    -o-transition: background 0.24s ease-in-out;
    transition: background 0.24s ease-in-out;
}

.partthree .showposition:hover .showpic {
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-ms-filter: blur(0px);
	-o-filter: blur(0px);
	filter: blur(0px);
}

.partthree .showposition:hover p {
	color: #3a738c;
}

.partthree .more {
	position: absolute;
	top: 310px;
	right: 10px;
	width: 80px;
	height: 27px;
	background: #bde5f7
				url("../images/more.png") no-repeat 56px;
	box-shadow: 2px 2px 2px #aaa;
}

.partthree .moretext {
	padding-left: 8px;
	padding-top: 3px;
	font-size: 16px;
	font-weight: bold;
	color: #888;
}

.partthree .more:hover {
	box-shadow: 3px 3px 6px #aaa;
}


























.partfour {
	height: 380px;
	width: 100%;
	background: #eff4f7;
}

.partfour .parttitle {
	padding-top: 26px;
	padding-left: 22px;
	font-size: 26px;
	color: #1691c9;
}

.partfour .parttitle:hover {
	color: #0072a6;
}

.partfour .parttitlelogo {
	margin-right: 14px;
}

.partfour .informationbar {
	margin-top: 50px;
}

.partfour .information {
	float: left;
	width: 14.4%;
	padding-left: 2%;
	margin-right: 1px;
}

.partfour .information .logobox {
	height: 152px;
	width: 152px;
	border-radius: 152px;
	background: #21c2f8 url("../images/incompletecircle.png") center no-repeat;
	position: relative;
	-webkit-transition: background 0.4s ease-in-out;
    -moz-transition: background 0.4s ease-in-out;
    -o-transition: background 0.4s ease-in-out;
    transition: background 0.4s ease-in-out;
}

.partfour .information .logo {
	position: absolute;
	top: 52px;
	left: 49px;
}

.partfour .information .name {
	margin-top: 24px;
	color: #707070;
	font-weight: bold;
	text-align: center;
}

.partfour .information:hover .name {
	color: #0072a6;
}

.partfour .information:hover .logobox {
	background: #0072a6 url("../images/incompletecircle.png") center no-repeat;
	-webkit-transition: background 0.17s ease-in-out;
    -moz-transition: background 0.17s ease-in-out;
    -o-transition: background 0.17s ease-in-out;
    transition: background 0.17s ease-in-out;
}

























.partfive {
	width: 100%;
	height: 420px;
	background: #6593ce;
}

.partfive .parttitle {
	padding-top: 26px;
	padding-left: 22px;
	font-size: 26px;
	color: #fdfdfe;
}

.partfive .parttitlelogo {
	margin-right: 14px;
}

.partfive .parttitle:hover {
	color: #2f3877;
}

.partfive .picshow {
	position: relative;
}

.partfive .leftedgepic {
	position: absolute;
	left: 50px;
	top: 68px;
	z-index: 1;
	border: solid #70c4e0 2px;
	filter: opacity(25%);
}

.partfive .leftpic {
	position: absolute;
	left: 177px;
	top: 50px;
	z-index: 2;
	border: solid #70c4e0 2px;
	filter: opacity(65%);
}

.partfive .centerpic {
	position: absolute;
	left: 340px;
	top: 28px;
	z-index: 3;
	border: solid #fff 2px;
	box-shadow: 0 -1px 50px #111;
}

.partfive .rightpic {
	position: absolute;
	right: 188px;
	top: 50px;
	z-index: 2;
	border: solid #70c4e0 2px;
	filter: opacity(65%);
}

.partfive .rightedgepic {
	position: absolute;
	right: 62px;
	top: 78px;
	z-index: 1;
	border: solid #70c4e0 2px;
	filter: opacity(25%);
}

.partfive .progressbox {
	position: absolute;
	top: 308px;
	left: 120px;
	width: 900px;
	height: 6px;
	background: #9fc3e9;
	border-radius: 6px;
}

.partfive .progress {
	width: 250px;
	height: 6px;
	background: #014db9;
	margin-left: 200px;
	border-radius: 6px;
}

























.firstfooter {
	height: 284px;
	width: 100%;
	background: #2f383d;
	border-top: solid 2px #8796b8;
	border-bottom: solid 2px #40474c;
	padding-top: 30px;
}

.firstfooter .part {
	float: left;
	width: 33.3%;
}

.firstfooter .part .title {
	margin-bottom: 26px;
	color: #e7e7e7;
	font-size: 34px;
}

.firstfooter .part .content {
	margin-left: 60px;
}

.firstfooter .part .content li {
	margin-bottom: 16px;
	font-size: 16px;
	color: #fff;
}

.firstfooter .part .content li a {
	font-size: 16px;
	color: #fff;
}

.firstfooter .content li a:hover {
	text-decoration: underline;
}

.firstfooter .part .logo {
	float: left;
	margin-right: 80px;
}

.firstfooter .part .third {
	margin-top: 50px;
}



















.secondfooter {
	width: 100%;
	background: #232d33;
	padding: 14px 0;
	text-align: center;
}

.secondfooter p {
	font-size: 16px;
	color: #a0a2a3;
}

.secondfooter .hidden {
	display: none;
}