@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
	background: #333;
}

#box {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 200px;
	height: 200px;
	margin-top: -120px;
	margin-left: -100px;
	background: pink;
}

p {
	position: relative;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	display: inline-block;
	background: yellow;
	margin-left: 50px;
	margin-top: 140px;
}